
body {
    background: #589503;
    font-family: Arial;
}
h1 {
    color: red;
}
/* 7iu18bZINXO9Ofi0B6p2gzFFVWcjWXtJAVBY8Q0EwEtLwCcqX3yuZDw6zgFG3aptuxejE0XfNG7LzdSTqncENcarwrIQaXhYTmHKios0sM6PiPaZHlc6OQR3B8c8YjWpQY6wGv8YxKw7d8ctb3gTdSfgPHkrk2myLrWZrZvOHEaWwuQ26pj4U6aM1Hwe5dYewzRooKl6 */
